body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    padding: 10px 20px;
    border-radius: 6px;
}

input {
    border: 0px solid gray;
    margin: 2px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #0056b3;
    color: white;
}

button:hover {
    background-color: #004494;
}